
{% extends 'base.html.twig' %}

{% block title %}Sign Up{% endblock %}

{% block body %}
<div class="myform">
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">{{ message }}</div>
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}
